html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
  }
  
  ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  img {
    height: auto;
    display: block;
  }
  
  h2 {
    margin-bottom: 75px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  
  section {
    padding: 100px 0;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
  }
  
  /*===========================================Header===========================================*/
  .container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  
  header{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #222;
    z-index: 100;
  }
  
  #logo {
    float: left;
  }
  
  .nav {
    float: right;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .nav li a {
    color: #fff;
    text-transform: capitalize;
    display: block;
    padding: 10px 12px;
  }
  
  /*==================================Home page background image==================================*/
  .home_bg{
    background-image: url(https://i.imgur.com/pljHIfX.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
  
  .container_table{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .container_table_cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  .container_table_cell h2{
    color:#fff;
    text-transform: capitalize;
    font-size: 54px;
  }
  
  .container_table_cell a{
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    margin-right: 7px;
  }
  
  /*==========================================About Me==========================================*/
  .co_left, .co_right{
    float: left;
    width: 50%;
    padding: 0 15px;
  }
  
  .personal-info h3 {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  
  .personal-info p {
    color: #767676;
    line-height: 24px;
    text-align: justify;
  }
  
  .skill {
    margin: 30px auto;
  }
  
  .skill li {
    font-size: 15px;
    line-height: 35px;
    text-transform: capitalize;
  }
  
  .button_group .download_cv, .button_group .hire_me{
    display: inline-block;
  }
  .button_group .download_cv{
    margin-right: 18px;
  }
  
  .button_group a {
    display: block;
    color: #000;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px 38px;
    text-transform: capitalize;
  }
  
  .button_group a:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
  }
  
  /*==========================================what I offer==========================================*/
  .my_service {
    background-color: #f9f9f9;
  }
  
  .service_content {
    float: left;
    width: 33.33%;
    padding: 0 15px;
  }
  
  .service_content i {
    font-size: 30px;
    line-height: 46px;
  }
  
  .service_content h3 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 13px;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  
  .service_content p {
    color: #767676;
    font-size: 14px;
    font-weight: 300; 
    line-height: 24px;
  }
  
  /*===========================================resume===========================================*/
  .col_horizontal {
    padding-bottom: 16px;
    border-bottom: 1px solid #767676;
  }
  
  .col_horizontal:last-child {
    border-bottom: 0;
  }
  
  h3.resume_subtitle {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 12px;
    text-transform: capitalize;
  }
  
  .col_horizontal .col_item {
    float: left;
    width: 50%;
    padding: 0 15px;
  }
  
  .experience_year {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 4px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .resume_detail h4 {
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
  }
  
  .resume_detail h6 {
    font-size: 12px;
    margin-bottom: 9px;
    text-transform: capitalize;
  }
  
  .resume_detail p {
    line-height: 22px;
  }
  
  /*===========================================Quotes===========================================*/
  .quotes{
    background-image: url(https://i.imgur.com/zJPRhmu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
  }
  
  .quote_inner {
    color: #fff;
    text-align: center;
  }
  
  .quote_inner h3 {
    font-size: 28px;
    text-transform: capitalize;
  }
  
  .quote_inner p {
    font-size: 14px;
    margin-top: 12px;
  }
  
  .quote_inner a {
    color: #fff;
    border: solid 1px #fff;
    border-radius: 11px;
    padding: 12px 49px;
    display: inline-block;
    margin-top: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /*===========================================Latest Work===========================================*/
  .works {
    background-color: #f7f7f7;
  }
  
  .col_work {
    float: left;
    width: 33.33%;
    padding: 0 15px;
  }
  
  .col_work a {
    position: relative;
    top: 0;
    left:0;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    display: block;
    margin-bottom: 14px;
  }
  
  .col_work a:hover {
    box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  }
  
  /*===========================================Contact form===========================================*/
  .contact_form{
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact_form .form_input:first-child,
  .contact_form .form_input:nth-child(2) {
    float: left;
    width: 50%;
    padding: 0 15px;
  }
  
  .contact_form .form_input:nth-child(3) {
    width: 100%;
    padding: 0 15px;
  }
  
  .contact_form .form_input .form_style {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    text-transform: capitalize;
    padding-bottom: 19px;
    margin-bottom: 12px;
    outline: none;
  }
  
  .contact_form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    color: #333;
  }
  
  .form_submit {
    text-align: left;
  }
  
  .form_submit input {
    font-size: 16px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 15px 60px;
    margin-top: 16px;
    margin-bottom: 14px;
    margin-left: 15px;
    cursor: pointer;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
  }
  
  .form_submit input:hover {
    background-color: #000;
    color: #fff;
  }
  /*===========================================Footer===========================================*/
  footer {
    padding: 80px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .footer-content p {
    line-height: 22px;
  }
  
  .footer-social-icon a i {
    color: #fff;
    display: inline-block;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 15px;
  }